
:root {
    --step_editor_z: 4;
}

#sortable {
    transition: all 0.25s linear;
}

#sortable.enlarge-full-screen:before{
    content: "SPR Workflow Designer";
    font-size: 3rem;
    position: relative;
    display: block;
    color: rgb(2, 117, 216, 0.5);
    text-align: center;
}

#wf_plot_box.enlarge-full-screen:before{
    content: "SPR Workflow Plot";
    font-size: 3rem;
    position: relative;
    display: block;
    color: rgb(2, 117, 216, 0.5);
    text-align: center;
}
#sortable .step-grid{
    width: 100px;
    height: 75px;
    display: inline-block;
    border: solid 2px rgb(2, 117, 216, 0.2);
    border-radius: 10px;
    padding: 4px;
    margin: 12px;
    position: relative;
}

#sortable .step-grid .btn.action-button{
    border: none;
    padding: 0;
    display: block;
    position: absolute;
    bottom: 5%;
    font-size: 2rem;
    transition: transform 0.25s linear;
}

#sortable .step-grid .btn.action-button:hover {
    transform: scale(1.25);
}

#sortable .step-grid .btn.action-button:focus-visible, #sortable .step-grid .btn.action-button:focus, #sortable{
    outline: none;
}

#sortable .step-grid:not(:last-of-type):after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right:-52px;
    border: solid 25px transparent;
    border-left-color: rgb(2, 117, 216, 0.2);
    border-radius: 0 40px 40px 0;
}

#sortable.enlarge-full-screen .step-grid {
    width: 150px;
    height: 150px;
    font-size: 1.75rem;
}

#sortable .step-grid span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 75%;
}

.enlarge-icon {
    float: right;
    position: absolute;
    right: 1rem;
    top: 5rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: rgb(2, 117, 216, 0.5);
    z-index: calc(var(--step_editor_z) - 1);
}

.enlarge-icon[enlarged='true'] {
    position: fixed;
    right: 2rem;
    top: 4rem;
    color: rgb(245 129 129);
    z-index: calc(var(--step_editor_z) + 1);
}

/*enlarge*/
.enlarge-full-screen {
    top: 1vh;
    left: 1vw;
    bottom: 0vh;
    right: 1vw;
    height: 99vh;
    overflow-y: auto;
    width: 99vw;
    background-color: #FFF;
    z-index: var(--step_editor_z);
    position: fixed;
    border: solid 3px rgb(2, 117, 216, 0.2);
    border-radius: 10px;
}

/*sortable config*/
.spr-steps-moving {
    background-color: rgb(2, 117, 216, 0.2);
}

#step_container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
}

/*Plot*/
#wf_plot_box {
    height: inherit;
    overflow: hidden;
}
#wf_plot_box.enlarge-full-screen {
    height: 95vh;
}

#wf_plot_container {
    overflow: auto;
}

/*step control panel*/
.step-control-panel {
    display: flex;
    justify-content: space-between;
}

.step-control-panel > * {
    display: inline-block;
}

.step-control-panel .btn-group b{
    float: left;
    position: relative;
    padding-top: 5px;
}


