.Rproj.user
..Rproj
.Rhistory
.RData
.Ruserdata
.idea
packrat/lib*/
packrat/src/
rsconnect/
vignettes/systemPipeShiny_cache/*
vignettes/*.html
vignettes/*.pdf
docs/reference/SPS_20*
docs/reference/config
docs/reference/test*
docs/reference/SPS_plotdata*
docs/reference/SPS_plotdata/SPS_prepro*
docs/reference/SPS_plotdata/SPS_tabinfo*
SPS_20*
