/*Welcome page css */

.welcome-header {
  position: relative;
  height: max(calc(100vh - 50px), 35vw);
}

#welcome-svg svg {
    width: calc(100% + 30px);
    left: 0;
    top: 0;
    min-width: 300px;
    transform: translate(-15px, -50px);
}

#sps_header_logo > g{
  position: relative;
  transition: filter 500ms;
}

#sps_header_logo > g:hover {
  transform: scale(1.3);
  filter: blur(1px);
}

.welcome-header .card {
  height: calc(20vw - 50px);
  width: calc(20vw - 50px);
  background-color: #f4f4f4;;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 5px #ddd;
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgba(0,0,0,0.1);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.welcome-header .card:hover {
  cursor: pointer;
}

.welcome-header .card img {
  transform: translateZ(80px);
  height: 50%;
}

.welcome-header .card:nth-of-type(even) img{
  width: 55%;
}

.welcome-header .card:nth-of-type(odd) img{
  width: 50%;
}

.card.wf {
  margin-top: calc(1vw - 110px);
  margin-left: 2vw;
}
.card.rnaseq {
  margin-top: calc(1vw - 150px);
  margin-left: 23vw;
}

.card.ggplot {
  margin-top: calc(1vw - 150px);
  margin-left: 43vw;
}

.card.canvas {
  margin-top: calc(1vw - 250px);
  margin-left: 65vw;
}

@media screen and (max-width: 1160px) {
  .card.wf {
    margin-top: calc(1vw - 50px);
  }
  .card.rnaseq {
    margin-top: calc(1vw - 100px);
  }

  .card.ggplot {
    margin-top: calc(1vw - 50px);
  }

  .card.canvas {
    margin-top: calc(1vw - 200px);
  }
}

@media screen and (max-width: 767px) {
  .card.wf {
    margin-left: 2vw;
  }
  .card.rnaseq {
    margin-left: 30vw;
  }

  .card.ggplot {
    margin-left: 50vw;
  }

  .card.canvas {
    margin-top: calc(1vw - 150px);
    margin-left: 75vw;
  }

}

.welcome-header .card span {
  margin: 0 auto;
  font-size: min(2rem, max(1.5vw, 1rem));
  font-weight: bold;
  white-space: nowrap;
  transform: translateZ(100px);
}

.welcome-text {
  padding-left: 15px;
  padding-right: 15px;
}


#core_welcome-go_down {
  position: absolute;
  margin: 0 auto;
  top: max(calc(93vh - 50px), 34vw);
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(#2689c0, #6d7fc6);
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  #core_welcome-go_down {
    top: max(calc(88vh - 50px), 34vw);
  }
}

.welcome-header .mod-desc {
  padding-top: max(100px);
}

.mod-desc h5 {
  display: none;
  font-size: min(3rem, max(1.5vw, 1rem));
  font-weight: 700;
  color: #2c8abf;
  text-align: center;
}
