
:root {
    --step_editor_z: 1030;
}

#wf-wf-sortable {
    transition: all 0.25s linear;
}

#wf-wf-step_box.enlarge-full-screen:before{
    content: "SPR Workflow Designer";
    font-size: 3rem;
    position: relative;
    display: block;
    color: rgb(2, 117, 216, 0.5);
    text-align: center;
}

#wf-wf-wf_plot_box.enlarge-full-screen:before{
    content: "SPR Workflow Plot";
    font-size: 3rem;
    position: relative;
    display: block;
    color: rgb(2, 117, 216, 0.5);
    text-align: center;
}
#wf-wf-sortable .step-grid{
    width: 100px;
    height: 75px;
    display: inline-block;
    border: solid 2px rgb(2, 117, 216, 0.2);
    border-radius: 10px;
    padding: 4px;
    margin: 12px;
    position: relative;
}

#wf-wf-sortable .step-grid:focus {
    background-color: rgb(2, 117, 216, 0.5);
}

#wf-wf-sortable .step-grid .btn.action-button{
    border: none;
    padding: 0;
    display: block;
    position: absolute;
    background-color: transparent;
    bottom: 5%;
    font-size: 2rem;
    transition: transform 0.25s linear;
}

#wf-wf-sortable .step-grid .btn.action-button:hover {
    transform: scale(1.25);
}

#wf-wf-sortable .step-grid .btn.action-button:focus-visible, #sortable .step-grid .btn.action-button:focus, #sortable{
    outline: none;
}

#wf-wf-sortable .step-grid:not(:last-of-type):after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right:-52px;
    border: solid 25px transparent;
    border-left-color: rgb(2, 117, 216, 0.2);
    border-radius: 0 40px 40px 0;
}

#wf-wf-step_box.enlarge-full-screen .step-grid {
    width: 150px;
    height: 150px;
    font-size: 1.75rem;
}

#wf-wf-sortable .step-grid span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 60%;
}

.step-grid.dep-warn {
    background-color: rgb(255, 104, 115, 0.25);
}

/*step-box-control*/
.step-box-control {
    display: flex;
    justify-content: space-evenly;
}

.step-box-control:hover{
    --his-display: 1;
}

.step-box-control > * {
    display: block;
}

.step-box-control > i {
    font-size: 4rem;
    margin: -5px 0;
    cursor: pointer;
}

.step-box-control > button {
    width: 4rem;
    margin: -5px 0;
    font-size: 4rem;
    top: 0;
    border: none;
    background-color: transparent;
}

.step-box-control > button[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}

/*del step*/
.step-trash {
    background: #ff6873;
    width: 33px;
    height: 36px;
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.step-trash div {
    display: none;
}

.step-trash span {
    position: absolute;
    height: 5px;
    background: #ff6873;
    top: -6px;
    left: -2px;
    right: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(0deg);
    transition: transform 250ms;
    transform-origin: 19% 100%;
}

.step-trash span:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: #ff6873;
    top: -6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(0deg);
    transition: transform 250ms;
    transform-origin: 19% 100%;
    left: 14px;
}

.step-trash i {
    position: relative;
    width: 3px;
    height: 20px;
    background: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    top: 7px;
}

.step-trash i:after {
    content: '';
    width: 3px;
    height: 20px;
    background: #fff;
    position: absolute;
    left: -10px;
}

.step-trash i:before {
content: '';
    width: 3px;
    height: 20px;
    background: #fff;
    position: absolute;
    right: -9px;
}



/**/
.enlarge-icon {
    float: right;
    position: absolute;
    right: 1rem;
    top: 5rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: rgb(2, 117, 216, 0.5);
    z-index: calc(var(--step_editor_z) - 1);
}

.enlarge-icon[enlarged='true'] {
    position: fixed;
    right: 2rem;
    top: 4rem;
    color: rgb(245 129 129);
    z-index: calc(var(--step_editor_z) + 1);
}

/*enlarge*/
.enlarge-full-screen {
    top: 1vh;
    left: 0.3vw;
    bottom: 0vh;
    right: 0.3vw;
    height: 98vh;
    overflow-x: hidden;
    width: 99vw;
    background-color: #FFF;
    z-index: var(--step_editor_z);
    position: fixed;
    border: solid 3px rgb(2, 117, 216, 0.2);
    border-radius: 10px;
}

/*sortable config*/
.spr-steps-moving {
    background-color: rgb(2, 117, 216, 0.2);
}

#wf-wf-step_container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    min-height: 50vh;
}

/*Plot*/
#wf-wf-wf_plot_box {
    height: inherit;
    overflow: hidden;
    padding-bottom: 40px;
}

#wf-wf-wf_plot_container {
    overflow: auto;
}

/*history panel*/

.wf-history-panel{
    height: 60px;
    max-width: 50%;
    width: 40%;
    position: absolute;
    border: 2px solid rgb(2, 117, 216, 0.2);
    transform: translate(0, -140%);
    border-radius: 3px;
    transition: all 0.2s linear;
    opacity: var(--his-display, 0);
}

.wf-history-panel table{
    width: 100%;
}

.wf-history-panel tr td:first-child {
    font-weight: 800;
    padding-right: 5px;
}

.wf-history-panel tr td:nth-child(2) {
    text-align: left;
    text-overflow: ellipsis;
}

.wf-history-panel tr:nth-child(2) {
    background-color: rgb(2, 117, 216, 0.2);
}

