/*
systemPipeShiny CSS Styles
*/

/*buttons, default is too ugly*/
.btn-default {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-default:hover{
  background-color: #4c92cf;
}
/*widget user in shinydashboardplus*/
.widget-user {
  overflow-y:auto;
}

/*for clearableTextInput component*/
.text-input-clearable {
  width: 100%;
  border:1px solid #ccc;
  border-radius: 3px;
  padding:1px 6px 1px 1px;
  display:inline-block;
}
.text-input-clearable input {
  width: 93%;
  border:none;
  background:none;
  outline:none;
  padding:0 0;
  margin:0 0;
  font:inherit;
}
.text-input-clearable span {
  float: right;
  height: 14px;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  visibility:hidden;
}
.text-input-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);
}

/*for gallery */
img-gallery{
  max-width:100%;
  height:auto;
  object-fit: cover;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img-gallery:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}


/*for sps hyperlink button  and tables*/
.href-button {
  background-color: #0275d8;
  border: none;
  border-radius: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
         }

.href-button:hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
  transition: opacity 0.5s;
}

.href-button:active {
  transform: translateY(2px);
}

.table-href td:first-child{
  width: 1px;
  vertical-align: middle;
  white-space: nowrap;
}

/* about tab background */
.widget-user-header {
	background: linear-gradient(-45deg, #428bca, #ccccff, #b3b3b3);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* sps description container*/
.desc-body.collapse {
  display: block;
  height: 150px;
  overflow: hidden;
}
.desc-body.in {
  height: auto;
}
.desc a.collapsed:after  {
    content: '+ Show More Description';
}
.desc a:not(.collapsed):after {
    content: '- Collapse Description';
}
.desc a {
  font-size: 1.5em;
}
.desc a:link {
  text-decoration: none;
}

/* sps control-panel*/
.control-panel {
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.control-panel:hover { opacity: 1;}


/* sps hexagon icon and hex panel*/
.hex-container {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.hex {
  opacity: 0.8;
}

.hex:hover {
  opacity: 1;
}

.powerby-link {
  font: italic bold 25px serif;
  fill: #0275d8;
  opacity: 0.5;
}

.powerby-link:hover {
  opacity: 1;
}

.hex-box {
  width: 4vw;
  min-width: 50px;
  display: inline-block;
  padding-top: 0;
}

.hex-container span {
 display: inline-block;
 text-align: center;
 font-size: 0.8vw;
}

.hex-panel {
  position: auto;
}
.hex-panel > .hex-item {
  display: inline-block;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right:0;
}

.hex-panel h5 {
  display: inline-block;
  font-weight: 900;
  font-size: 1.25vw;
  transform: translateY(-2.2vw);
}
